{% extends "buildings/building_base.html" %}

{% load i18n roles_tags %}

{% block title %}{{ building }} - Roles{% endblock %}

{% block building_section %}
<div class="jumbotron">

  <div class="clearfix">
    <a href="{% url 'buildings:membership_form' building.id %}" class="btn btn-outline-info float-right">{% trans "Crear membresía" %}</a>
  </div>

  <br>

  {% if memberships_list %}
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">{% trans "Rol" %}</th>
        <th scope="col">{% trans "Nombre" %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for membership in memberships_list %}
      <tr>
        <td>{% if membership.is_main_administrator %}<i class="fas fa-crown"></i>{% endif %}{{ membership.get_membership_type_display }}</td>
        <td>{{ membership.user.get_full_name }}</td>

        <td>
          {% get_can_edit_membership user membership as can_edit_membership %}
          {% if can_edit_membership %}
            <a href="{% url 'buildings:membership_update' membership.building.id membership.id %}" class="btn btn-outline-dark">{% trans "Editar" %}</a>
          {% endif %}

          {% get_can_delete_membership user membership as can_delete_membership %}

          {% if can_delete_membership %}
            <a href="{% url 'buildings:membership_delete' membership.building.id membership.id %}" class="btn btn-outline-danger">{% trans "Eliminar" %}</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {% else %}
  <p>{% trans "No hay unidades registradas aún." %}</p>
  {% endif %}
</div>
{% endblock %}
