{% extends 'layout/email_base.html' %}

{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% if update %}
    {% blocktrans %}
    <h1>Su membresía en la copropiedad {{ membership.building }} ha sido editada.</h1>
    {% endblocktrans %}

    <p>{{ from.get_full_name }} {% trans "ha editado su membresía." %}</p>

    <p><strong>{% trans "Nuevo tipo de membresía:" %}</strong> {{ membership.get_membership_type_display }}.</p>
    <p><strong>{% trans "Copropiedad:" %}</strong> {{ membership.building }}.</p>
{% elif delete %}
    {% blocktrans %}
    <h1>Su membresía en la copropiedad {{ membership.building }} ha sido eliminada.</h1>
    {% endblocktrans %}

    <p>{{ from.get_full_name }} {% trans "ha eliminado su membresía." %}</p>
{% else %}
    <h1>{% trans "Notificación de nueva membresía en una copropiedad." %}</h1>

    <p>{{ from.get_full_name }} {% trans "ha creado una nueva membresía a su nombre." %}</p>

    <p><strong>{% trans "Tipo de membersía:" %}</strong> {{ membership.get_membership_type_display }}.</p>
    <p><strong>{% trans "Copropiedad:" %}</strong> {{ membership.building }}.</p>
{% endif %}

{% if not delete %}
    <p>{% trans 'Diríjase a la aplicación para desempeñar su nuevo rol en esta copropiedad.' %}</p>
    <a href="{{ base_url }}">{{ base_url }}</a>
{% endif %}
{% endblock %}
