{% extends "buildings/building_base.html" %}

{% load static widget_tweaks formset_tags i18n %}

{% block title %}{{ building }}{% endblock %}

{% block building_section %}
<div class="jumbotron">
  <h1>{% if unit_update %}{% trans "Editar unidad" %} {{ object }}{% else %}{% trans "Registrar unidad" %}{% endif %}</h1>
  <hr>

  <form method="post">
  {% csrf_token %}
  {% if form.non_field_errors %}
      <div class="alert alert-warning" role="alert">
          {{ form.non_field_errors }}
      </div>
  {% endif %}

      <div class="form-group">
          {% render_field form.block class+="form-control" %}
          <p class="font-weight-light">{{ form.block.help_text }}</p>
          {{ form.block.errors }}
      </div>

      <div class="form-group">
          {% render_field form.unit class+="form-control" %}
          <p class="font-weight-light">{{ form.unit.help_text }}</p>
          {{ form.unit.errors }}
      </div>

      <div class="form-group">
          {% render_field form.coefficient class+="form-control" %}
          <p class="font-weight-light">{{ form.coefficient.help_text }}</p>
          {{ form.coefficient.errors }}
      </div>

      <div class="form-group">
          {% render_field form.area class+="form-control" %}
          {{ form.area.errors }}
      </div>

      <div class="form-group">
          {% render_field form.real_estate_registration class+="form-control" %}
          {{ form.real_estate_registration.errors }}
      </div>

      <hr>
      {% if object.owner_set.count > 1 %}
      <h3>{% trans "Datos de los propietarios" %}</h3>
      {% else %}
      <h3>{% trans "Datos del propietario" %}</h3>
      {% endif %}

      <p>{% trans "Tiene la posibilidad de registrar varios propietarios por unidad. El primer propietario que registre será el propietario principal." %}</p>

      {% include 'buildings/administrative/units/inc_owner_formset.html' %}

      <hr>
      <h3>{% trans "Datos del arrendatario" %}</h3>

      {% include 'buildings/administrative/units/inc_leaseholder_formset.html' %}
      <hr>

      <button type="submit" class="btn btn-outline-info btn-block">{% trans "Guardar" %}</button>
  </form>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'libs/formset/jquery.formset.js' %}"></script>

<script>
$(function() {
    $('#owner_formset').formset({
        animateForms: true
    });

    $('#leaseholder_formset').formset({
        animateForms: true
    });

    // Add active class to 'is_main' button is related field is checked on formset.
    $('.ci_UnitFormFormset .ci-main-formset-input').each(function(idx, element) {
      if (element.checked) {
        $(element).parent().find('.jsMainFormsetButton').addClass('btn-info').removeClass('btn-outline-info');
      }
    });

    // Add active class to 'is_resident' button is related field is checked on formset.
    $('.ci_UnitFormFormset .ci-resident-formset-input').each(function(idx, element) {
      if (element.checked) {
        $(element).parent().find('.jsResidentFormsetButton').addClass('btn-info').removeClass('btn-outline-info');
      }
    });

    // Action to change main owner and leaseholder checkboxes value.
    $('.ci_UnitFormFormset').on('click', '.jsMainFormsetButton', function () {
      // Get clicked button.
      var main_button = $(this);
      // Get checkbox input in the cliked button form.
      var set_main_input = $(this).parent().find('.ci-main-formset-input');
      // Get formset id.
      var formset_id = $(this).closest('.ci_UnitFormFormset').prop('id');

      // Uncheck other main owner buttons in the formset.
      $('#' + formset_id + ' .ci-main-formset-input').each(function(idx, element) {
        $(element).prop("checked", false);
        $(element).removeClass('btn-info');
        $(element).addClass('btn-outline-info');
      });

      // Remove active class for other main owner buttons and leaseholder buttons.
      $('#' + formset_id + ' .jsMainFormsetButton').each(function(idx, element) {
        $(element).removeClass('btn-info');
        $(element).addClass('btn-outline-info');
      });

      // Check main owner input and leaseholder button in the current formset.
      set_main_input.click()
      // Add active class (btn-info) to the main button in the current formset.
      main_button.addClass('btn-info').removeClass('btn-outline-info');
    });

    // Action to change is_resident field in owner formset.
    $('.ci_UnitFormFormset').on('click', '.jsResidentFormsetButton', function () {
      // Get clicked button.
      var main_button = $(this);
      // Get checkbox input in the cliked button form.
      var set_resident_input = $(this).parent().find('.ci-resident-formset-input');

      // 'is_resident' owner input action. Click the checkbox to change the field value.
      set_resident_input.click();

      if (set_resident_input.is(':checked')) {
        // Add active class to indicate that the owner is resident of the unit.
        main_button.addClass('btn-info').removeClass('btn-outline-info');

        // Hide leaseholders formset. If the owner is resident of the unit, the user can't add leaseholders.
        $("#leaseholder_formset").hide();
        $("#disabled_leaseholers_formset").show();

      } else {
        // Remove active class to indicate that the owner is not resident of the unit.
        main_button.removeClass('btn-info').addClass('btn-outline-info');

        // Show leaseholders formset. If the owners are not residents of the unit, the user can add leaseholder.
        var resident_owners = 0
        $('.ci_UnitFormFormset .ci-resident-formset-input').each(function(idx, element) {
          if (element.checked) {
            resident_owners = resident_owners + 1;
          }
        });

        if (resident_owners === 0) {
          $("#leaseholder_formset").show();
          $("#disabled_leaseholers_formset").hide();
        }
      }
    });

    // Action to change delete checkbox value on owner and leaseholder form.
    $('.ci_UnitFormFormset').on('click', '.jsDeleteFormsetButton', function () {
      // Find checkbox input to delete current form in owners and leaseholders formset.
      $(this).parent().find('.ci-delete-formset-input').click();
    });
});
</script>
{% endblock %}
