{% extends "buildings/building_base.html" %}

{% load i18n %}

{% block title %}{{ building }} - {% trans "Unidades" %}{% endblock %}

{% block building_section %}
<div class="clearfix">
  <div class="float-right">
    {% if can_view_update_menu %}
    <a href="{% url 'buildings:data_update_view' building.id %}" class="btn btn-info float-right">{% trans "Actualización de datos" %}</a>
    {% endif %}
  </div>
</div>

<br>

<div class="jumbotron">
  {% if can_create_unit %}
  <div class="clearfix">
    <a href="{% url 'buildings:unit_form' building.id %}" class="btn btn-outline-info float-right">{% trans "Crear unidad" %}</a>
  </div>

  <br>
  {% endif %}

  {% if units_list %}
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">{% trans "Bloque o interior" %}</th>
        <th scope="col">{% trans "Unidad" %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for unit in units_list %}
      <tr>
        <td>{{ unit.block|default:"N/D" }}</td>
        <td>{{ unit.unit }}</td>
        <td>
          {% if can_view_unit_detail %}
          <a href="{{ unit.get_absolute_url }}" class="btn btn-outline-dark">{% trans "Ver información" %}</a>
          {% endif %}

          <a href="{% url 'buildings:unit_delete' building.id unit.id %}" class="btn btn-outline-danger">{% trans "Eliminar" %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {% else %}
  <p>{% trans "No hay unidades registradas aún." %}</p>
  {% endif %}
</div>
{% endblock %}
