{% extends "buildings/building_base.html" %}

{% load static widget_tweaks formset_tags i18n %}

{% block title %}{{ building }}{% endblock %}

{% block building_section %}
<div class="jumbotron">
  <h1>{% if unit_update %}{% trans "Editar unidad" %} {{ object }}{% else %}{% trans "Registrar unidad" %}{% endif %}</h1>
  <hr>

  <form method="post">
  {% csrf_token %}
  {% if form.non_field_errors %}
      <div class="form-group">
          {{ form.non_field_errors }}
      </div>
  {% endif %}

      <div class="form-group">
          {% render_field form.block class+="form-control" %}
          <p class="font-weight-light">{{ form.block.help_text }}</p>
          {{ form.block.errors }}
      </div>

      <div class="form-group">
          {% render_field form.unit class+="form-control" %}
          <p class="font-weight-light">{{ form.unit.help_text }}</p>
          {{ form.unit.errors }}
      </div>

      <div class="form-group">
          {% render_field form.coefficient class+="form-control" %}
          <p class="font-weight-light">{{ form.coefficient.help_text }}</p>
          {{ form.coefficient.errors }}
      </div>

      <div class="form-group">
          {% render_field form.area class+="form-control" %}
          {{ form.area.errors }}
      </div>

      <div class="form-group">
          {% render_field form.real_estate_registration class+="form-control" %}
          {{ form.real_estate_registration.errors }}
      </div>

      <hr>
      {% if object.owner_set.count > 1 %}
      <h3>{% trans "Datos de los propietarios" %}</h3>
      {% else %}
      <h3>{% trans "Datos del propietario" %}</h3>
      {% endif %}

      <p>{% trans "Tiene la posibilidad de registrar varios propietarios por unidad. El primer propietario que registre será el propietario principal." %}</p>

      <div id="owner_formset" data-formset-prefix="{{ owner_formset.prefix }}">
          {% if owner_formset.non_form_errors %}
          <div class="alert alert-warning" role="alert">{{ owner_formset.non_form_errors }}</div>
          {% endif %}

          {{ owner_formset.management_form }}
          <div data-formset-body>
          {% for owner_form in owner_formset %}
              {% if object %}
              <p class="h4">{% trans "Propietario" %} {{ forloop.counter }}</p>
              {% endif %}
              {% render_field owner_form.id %}
              <div data-formset-form>
                <div class="row">
                  <div class="form-group col-md-6">
                      {% render_field owner_form.name class+="form-control" %}
                      {{ owner_form.name.errors }}
                  </div>

                  <div class="form-group col-md-6">
                      {% render_field owner_form.last_name class+="form-control" %}
                      {{ owner_form.last_name.errors }}
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                      {% render_field owner_form.document_type class+="form-control" %}
                      {{ owner_form.document_type.errors }}
                  </div>

                  <div class="form-group col-md-6">
                      {% render_field owner_form.document_number class+="form-control" %}
                      {{ owner_form.document_number.errors }}
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                      {% render_field owner_form.mobile_phone class+="form-control" %}
                      <p class="font-weight-light">{{ owner_form.mobile_phone.help_text }}</p>
                      {{ owner_form.mobile_phone.errors }}
                  </div>

                  <div class="form-group  col-md-6">
                      {% render_field owner_form.phone_number class+="form-control" %}
                      <p class="font-weight-light">{{ owner_form.phone_number.help_text }}</p>
                      {{ owner_form.phone_number.errors }}
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                      {% render_field owner_form.correspondence_address class+="form-control" %}
                      <p class="font-weight-light">{{ owner_form.correspondence_address.help_text }}</p>
                      {{ owner_form.correspondence_address.errors }}
                  </div>

                  <div class="form-group  col-md-6">
                      {% render_field owner_form.email class+="form-control" %}
                      {{ owner_form.email.errors }}
                  </div>
                </div>

                <hr>
                <div class="row">
                  <div class="form-group clearfix col-md-6">
                    <div class="clearfix">
                    <p class="float-right">{% trans '¿Es el propietario principal de la unidad?' %}</p>
                    </div>

                    <div class="clearfix">
                      <div class="float-right">
                        <button type="button" class="btn btn-outline-info jsMainOwnerButton">
                          {% trans 'Propietario principal' %}
                        </button>
                        {% render_field owner_form.is_main class+="ci-main-owner-input" %}
                      </div>
                    </div>

                    <div class="clearfix">
                    <p class="font-weight-light float-right">{% trans 'El propietario principal recibirá las notificaciones para realizar la actualización de datos de la unidad.' %}</p>
                    </div>
                  </div>

                  <hr>
                  <div class="form-group clearfix col-md-6">
                    <button type="button" class="btn btn-outline-danger float-right jsDeleteOwnerButton">
                      {% trans 'Eliminar' %}
                    </button>
                    {% render_field owner_form.DELETE class+="ci-delete-owner-input d-none" %}
                  </div>
                </div>
                <hr>
              </div>
          {% endfor %}
          </div>

          <script type="form-template" data-formset-empty-form>
          {% escapescript %}
              <p class="h4">{% trans "Otro propietario" %}</p>
              <div data-formset-form>

                <div class="row">
                  <div class="form-group col-md-6">
                      {% render_field owner_formset.empty_form.name class+="form-control" %}
                      {{ owner_formset.empty_form.name.errors }}
                  </div>

                  <div class="form-group col-md-6">
                      {% render_field owner_formset.empty_form.last_name class+="form-control" %}
                      {{ owner_formset.empty_form.last_name.errors }}
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                      {% render_field owner_formset.empty_form.document_type class+="form-control" %}
                      {{ owner_formset.empty_form.document_type.errors }}
                  </div>

                  <div class="form-group col-md-6">
                      {% render_field owner_formset.empty_form.document_number class+="form-control" %}
                      {{ owner_formset.empty_form.document_number.errors }}
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                      {% render_field owner_formset.empty_form.mobile_phone class+="form-control" %}
                      <p class="font-weight-light">{{ owner_formset.empty_form.mobile_phone.help_text }}</p>
                      {{ owner_formset.empty_form.mobile_phone.errors }}
                  </div>

                  <div class="form-group col-md-6">
                      {% render_field owner_formset.empty_form.phone_number class+="form-control" %}
                      <p class="font-weight-light">{{ owner_formset.empty_form.phone_number.help_text }}</p>
                      {{ owner_formset.empty_form.phone_number.errors }}
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                      {% render_field owner_formset.empty_form.correspondence_address class+="form-control" %}
                      <p class="font-weight-light">{{ owner_formset.empty_form.correspondence_address.help_text }}</p>
                      {{ owner_formset.empty_form.correspondence_address.errors }}
                  </div>

                  <div class="form-group col-md-6">
                      {% render_field owner_formset.empty_form.email class+="form-control" %}
                      {{ owner_formset.empty_form.email.errors }}
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="form-group clearfix col-md-6">
                    <div class="clearfix">
                    <p class="float-right">{% trans '¿Es el propietario principal de la unidad?' %}</p>
                    </div>

                    <div class="clearfix">
                      <div class="float-right">
                        <button type="button" class="btn btn-outline-info jsMainOwnerButton">
                          {% trans 'Propietario principal' %}
                        </button>
                        {% render_field owner_formset.empty_form.is_main class+="ci-main-owner-input" %}
                      </div>
                    </div>

                    <div class="clearfix">
                    <p class="font-weight-light float-right">{% trans 'El propietario principal recibirá las notificaciones para realizar la actualización de datos de la unidad.' %}</p>
                    </div>
                  </div>

                  <hr>

                  <div class="form-group clearfix  col-md-6">
                    <button type="button" class="btn btn-outline-danger float-right jsDeleteOwnerButton">
                      {% trans 'Eliminar' %}
                    </button>
                    {% render_field owner_formset.empty_form.DELETE class+="ci-delete-owner-input d-none" %}
                  </div>
                </div>
                <hr>
              </div>
          {% endescapescript %}
          </script>

          <div>
              <button class="btn btn-outline-success" type="button" data-formset-add>{% trans "Agregar propietario" %}</button>
          </div>
      </div>

      <hr>
      <h3>{% trans "Datos del arrendatario" %}</h3>

      <div id="leaseholder_formset" data-formset-prefix="{{ leaseholder_formset.prefix }}">
          {% if leaseholder_formset.non_form_errors %}
          <div class="alert alert-warning" role="alert">{{ leaseholder_formset.non_form_errors }}</div>
          {% endif %}

          {{ leaseholder_formset.management_form }}
          <div data-formset-body>
          {% for leaseholder_form in leaseholder_formset %}
              {% if object %}
              <p class="h4">{% trans "Arrendatario" %} {{ forloop.counter }}</p>
              {% endif %}
              {% render_field leaseholder_form.id %}
              <div data-formset-form>
                  <div class="form-group">
                      {% render_field leaseholder_form.name class+="form-control" %}
                      {{ leaseholder_form.name.errors }}
                  </div>

                  <div class="form-group">
                      {% render_field leaseholder_form.last_name class+="form-control" %}
                      {{ leaseholder_form.last_name.errors }}
                  </div>

                  <div class="form-group">
                      {% render_field leaseholder_form.document_type class+="form-control" %}
                      {{ leaseholder_form.document_type.errors }}
                  </div>

                  <div class="form-group">
                      {% render_field leaseholder_form.document_number class+="form-control" %}
                      {{ leaseholder_form.document_number.errors }}
                  </div>

                  <div class="form-group">
                      {% render_field leaseholder_form.mobile_phone class+="form-control" %}
                      <p class="font-weight-light">{{ leaseholder_form.mobile_phone.help_text }}</p>
                      {{ leaseholder_form.mobile_phone.errors }}
                  </div>

                  <div class="form-group">
                      {% render_field leaseholder_form.phone_number class+="form-control" %}
                      <p class="font-weight-light">{{ leaseholder_form.phone_number.help_text }}</p>
                      {{ leaseholder_form.phone_number.errors }}
                  </div>

                  <div class="form-group">
                      {% render_field leaseholder_form.email class+="form-control" %}
                      {{ leaseholder_form.email.errors }}
                  </div>

                  <div class="form-group">
                      <label>{% trans "Eliminar" %}</label>
                      {% render_field leaseholder_form.DELETE %}
                  </div>
                  <hr>
              </div>
          {% endfor %}
          </div>

          <script type="form-template" data-formset-empty-form>
          {% escapescript %}
              <p class="h4">{% trans "Otro arrendatario" %}</p>
              <div data-formset-form>
                  <div class="form-group">
                      {% render_field leaseholder_formset.empty_form.name class+="form-control" %}
                      {{ leaseholder_formset.empty_form.name.errors }}
                  </div>

                  <div class="form-group">
                      {% render_field leaseholder_formset.empty_form.last_name class+="form-control" %}
                      {{ leaseholder_formset.empty_form.last_name.errors }}
                  </div>

                  <div class="form-group">
                      {% render_field leaseholder_formset.empty_form.document_type class+="form-control" %}
                      {{ leaseholder_formset.empty_form.document_type.errors }}
                  </div>

                  <div class="form-group">
                      {% render_field leaseholder_formset.empty_form.document_number class+="form-control" %}
                      {{ leaseholder_formset.empty_form.document_number.errors }}
                  </div>

                  <div class="form-group">
                      {% render_field leaseholder_formset.empty_form.mobile_phone class+="form-control" %}
                      <p class="font-weight-light">{{ leaseholder_formset.empty_form.mobile_phone.help_text }}</p>
                      {{ leaseholder_formset.empty_form.mobile_phone.errors }}
                  </div>

                  <div class="form-group">
                      {% render_field leaseholder_formset.empty_form.phone_number class+="form-control" %}
                      <p class="font-weight-light">{{ leaseholder_formset.empty_form.phone_number.help_text }}</p>
                      {{ leaseholder_formset.empty_form.phone_number.errors }}
                  </div>

                  <div class="form-group">
                      {% render_field leaseholder_formset.empty_form.email class+="form-control" %}
                      {{ leaseholder_formset.empty_form.email.errors }}
                  </div>

                  <div class="form-group">
                      <label>{% trans "Eliminar" %}</label>
                      {% render_field leaseholder_formset.empty_form.DELETE %}
                  </div>
                  <hr>
              </div>
          {% endescapescript %}
          </script>

          <div>
              <button class="btn btn-outline-success" type="button" data-formset-add>{% trans "Agregar arrendatario" %}</button>
          </div>
      </div>
      <hr>

      <button type="submit" class="btn btn-outline-info btn-block">{% trans "Guardar" %}</button>
  </form>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.formset.js' %}"></script>

<script>
$(function() {
    $('#owner_formset').formset({
        animateForms: true
    });

    $('#leaseholder_formset').formset({
        animateForms: true
    });

    // Action to change delete checkbox value on owner form.
    $('#owner_formset').on('click', '.jsDeleteOwnerButton', function () {
      // Find checkbox input to delete current form in owners formset.
      $(this).parent().find('.ci-delete-owner-input').click();
    });

    // Action to change main owner checkbox value on owner form.
    $('#owner_formset').on('click', '.jsMainOwnerButton', function () {
      // Get clicked button.
      var main_button = $(this);
      // Get checkbox input in the cliked button form.
      var set_main_input = $(this).parent().find('.ci-main-owner-input');

      // Uncheck other main owner buttons in the formset.
      $("#owner_formset .ci-main-owner-input").each(function(idx, element) {
        $(element).prop("checked", false);
        $(element).removeClass('btn-info');
        $(element).addClass('btn-outline-info');
      });

      // Remove active class for other main owner buttons.
      $("#owner_formset .jsMainOwnerButton").each(function(idx, element) {
        $(element).removeClass('btn-info');
        $(element).addClass('btn-outline-info');
      });

      // Check main owner input in the current formset.
      set_main_input.click()
      // Add active class (btn-info) to the main button in the current formset.
      main_button.addClass('btn-info').removeClass('btn-outline-info');
    });
});
</script>
{% endblock %}
