{% extends "buildings/building_base.html" %}

{% load widget_tweaks i18n %}

{% block title %}{{ building }}{% endblock %}

{% block building_section %}
<div class="jumbotron">
  <h1>Unidad: {{ object }} </h1>
  <hr>

  {% if can_edit_unit %}
  <div class="clearfix">
    <a href="{% url 'buildings:unit_update' building.id object.id %}" class="btn btn-outline-info float-right">{% trans "Editar unidad" %}</a>
  </div>
  {% endif %}

  <dl class="row">
    <dt class="col-sm-3">{% trans "Bloque o interior" %}</dt>
    <dd class="col-sm-9">{{ object.block|default:"N/D" }}</dd>

    <dt class="col-sm-3">{% trans "Unidad" %}</dt>
    <dd class="col-sm-9">{{ object.unit }}</dd>

    <dt class="col-sm-3">{% trans "Área (mts)" %}</dt>
    <dd class="col-sm-9">{{ object.area|default:"N/D" }}</dd>

    <dt class="col-sm-3">{% trans "matrícula inmobiliaria" %}</dt>
    <dd class="col-sm-9">{{ object.real_estate_registration|default:"N/D" }}</dd>
  </dl>

  <hr>
  {% if object.owner_set.count > 1 %}
  <h3>{% trans "Datos de los propietarios" %}</h3>
  {% else %}
  <h3>{% trans "Datos del propietario" %}</h3>
  {% endif %}

  {% for owner in object.owner_set.all %}
  <dl class="row">
    <dt class="col-sm-3">{% trans "Nombre" %}</dt>
    <dd class="col-sm-9">{{ owner.name }} {{ owner.last_name }}</dd>
    
    <dt class="col-sm-3">{% trans "Tipo de documento:" %}</dt>
    <dd class="col-sm-9">{{ owner.get_document_type_display|default:"N/D" }}</dd>

    <dt class="col-sm-3">{% trans "Número de documento:" %}</dt>
    <dd class="col-sm-9">{{ owner.document_number|default:"N/D" }}</dd>

    <dt class="col-sm-3">{% trans "Número celular:" %}</dt>
    <dd class="col-sm-9">{{ owner.mobile_phone|default:"N/D" }}</dd>

    <dt class="col-sm-3">{% trans "Número telefónico:" %}</dt>
    <dd class="col-sm-9">{{ owner.phone_number|default:"N/D" }}</dd>

    <dt class="col-sm-3">{% trans "Correo electrónico" %}</dt>
    <dd class="col-sm-9">{{ owner.email|default:"N/D" }}</dd>

    <dt class="col-sm-3">{% trans "Dirección de correspondencia" %}</dt>
    <dd class="col-sm-9">{{ owner.correspondence_address|default:"N/D" }}</dd>
  </dl>
  <hr>
  {% empty %}
  <p>{% trans 'No hay propietarios registrados.' %}</p>
  {% endfor %}

  {% if object.leaseholder_set.count > 1 %}
  <h3>{% trans "Datos de los arrendatarios" %}</h3>
  {% else %}
  <h3>{% trans "Datos del arrendatario" %}</h3>
  {% endif %}

  {% for leaseholder in object.leaseholder_set.all %}
  <dl class="row">
    <dt class="col-sm-3">{% trans "Nombre:" %}</dt>
    <dd class="col-sm-9">{{ leaseholder.name }} {{ leaseholder.last_name }}</dd>
    
    <dt class="col-sm-3">{% trans "Tipo de documento:" %}</dt>
    <dd class="col-sm-9">{{ leaseholder.get_document_type_display|default:"N/D" }}</dd>

    <dt class="col-sm-3">{% trans "Número de documento:" %}</dt>
    <dd class="col-sm-9">{{ leaseholder.document_number|default:"N/D" }}</dd>

    <dt class="col-sm-3">{% trans "Número celular:" %}</dt>
    <dd class="col-sm-9">{{ leaseholder.mobile_phone|default:"N/D" }}</dd>

    <dt class="col-sm-3">{% trans "Número telefónico:" %}</dt>
    <dd class="col-sm-9">{{ leaseholder.phone_number|default:"N/D" }}</dd>

    <dt class="col-sm-3">{% trans "Correo electrónico" %}</dt>
    <dd class="col-sm-9">{{ leaseholder.email|default:"N/D" }}</dd>
  </dl>
  <hr>
  {% empty %}
  <p>{% trans 'No hay arrendatarios registrados.' %}</p>
  {% endfor %}
</div>

<div class="jumbotron">
  <h2>{% trans 'Residentes' %}</h2>
  <hr>

  {% if can_edit_unit %}
  <div class="clearfix">
    <a href="{% url 'buildings:resident_form' building.id object.id %}" class="btn btn-outline-info float-right">{% trans "Registrar residente" %}</a>
  </div>
  {% endif %}

  {% if object.resident_set.count %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{% trans "Nombre" %}</th>
          <th scope="col">{% trans "Edad" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for resident in object.resident_set.all %}
        <tr>
          <td>{{ resident.first_name }} {{ resident.last_name }}</td>
          <td>{{ resident.calculate_age }}</td>

        {% if can_edit_unit %}
          <td>
            <a href="{% url 'buildings:resident_detail' building.id object.id resident.id %}" class="btn btn-outline-dark">{% trans "Ver detalle" %}</a>

            <a href="{% url 'buildings:resident_update' building.id object.id resident.id %}" class="btn btn-outline-dark">{% trans "Editar" %}</a>

            <a href="{% url 'buildings:resident_delete' building.id object.id resident.id %}" class="btn btn-outline-danger">{% trans "Eliminar" %}</a>
          </td>
        {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>{% trans 'No hay residentes registrados aún.' %}</p>
  {% endif %}
</div>

<div class="jumbotron">
  <h2>{% trans 'Visitantes autorizados' %}</h2>
  <hr>

  {% if can_edit_unit %}
  <div class="clearfix">
    <a href="{% url 'buildings:visitor_form' building.id object.id %}" class="btn btn-outline-info float-right">{% trans "Registrar Visitante autorizado" %}</a>
  </div>
  {% endif %}

  {% if object.visitor_set.count %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{% trans "Nombre" %}</th>
          <th scope="col">{% trans "Documento" %}</th>
          <th scope="col">{% trans "Parentesco" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for visitor in object.visitor_set.all %}
        <tr>
          <td>{{ visitor.first_name }} {{ visitor.last_name }}</td>
          <td>{{ visitor.get_document_type_display }} - {{ visitor.document_number }}</td>
          <td>{{ visitor.relationship }}</td>

        {% if can_edit_unit %}
          <td>
            <a href="{% url 'buildings:visitor_update' building.id object.id visitor.id %}" class="btn btn-outline-dark">{% trans "Editar" %}</a>

            <a href="{% url 'buildings:visitor_delete' building.id object.id visitor.id %}" class="btn btn-outline-danger">{% trans "Eliminar" %}</a>
          </td>
        {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>{% trans 'No hay visitantes autorizados registrados aún.' %}</p>
  {% endif %}
</div>

<div class="jumbotron">
  <h2>{% trans 'Parqueaderos' %}</h2>
  <hr>

  {% if can_edit_unit %}
  <div class="clearfix">
    <a href="{% url 'buildings:parking_lot_form' building.id object.id %}" class="btn btn-outline-info float-right">{% trans "Agregar parqueadero" %}</a>
  </div>
  {% endif %}

  {% if object.parkinglot_set.count %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{% trans "Número" %}</th>
          <th scope="col">{% trans "Tipo" %}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for parking_lot in object.parkinglot_set.all %}
        <tr>
          <td>{{ parking_lot.number }}</td>
          <td>{{ parking_lot.get_parking_lot_type_display }}</td>

        {% if can_edit_unit %}
          <td>
              <a href="{% url 'buildings:parking_lot_update' building.id object.id parking_lot.id %}" class="btn btn-outline-dark">{% trans "Editar" %}</a>

              <a href="{% url 'buildings:parking_lot_delete' building.id object.id parking_lot.id %}" class="btn btn-outline-danger">{% trans "Eliminar" %}</a>
          </td>
        {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>{% trans 'No hay parqueaderos registrados.' %}</p>
  {% endif %}
</div>

<div class="jumbotron">
  <h2>{% trans 'Vehículos' %}</h2>
  <hr>

  {% if can_edit_unit %}
  <div class="clearfix">
    <a href="{% url 'buildings:vehicle_form' building.id object.id %}" class="btn btn-outline-info float-right">{% trans "Registrar vehículo" %}</a>
  </div>
  {% endif %}

  {% if object.vehicle_set.count %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{% trans "Tipo" %}</th>
          <th scope="col">{% trans "Color" %}</th>
          <th scope="col">{% trans "Marca" %}</th>
          <th scope="col">{% trans "Placa" %}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for vehicle in object.vehicle_set.all %}
        <tr>
          <td>{{ vehicle.get_vehicle_type_display }}</td>
          <td>{{ vehicle.color }}</td>
          <td>{{ vehicle.brand }}</td>
          <td>{{ vehicle.license_plate|default:"N/D" }}</td>

        {% if can_edit_unit %}
          <td>
            <a href="{% url 'buildings:vehicle_update' building.id object.id vehicle.id %}" class="btn btn-outline-dark">{% trans "Editar" %}</a>

            <a href="{% url 'buildings:vehicle_delete' building.id object.id vehicle.id %}" class="btn btn-outline-danger">{% trans "Eliminar" %}</a>
          </td>
        {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>{% trans 'No hay vehículos registrados.' %}</p>
  {% endif %}
</div>

<div class="jumbotron">
  <h2>{% trans 'Trabajadores domésticos' %}</h2>
  <hr>

  {% if can_edit_unit %}
  <div class="clearfix">
    <a href="{% url 'buildings:domestic_worker_form' building.id object.id %}" class="btn btn-outline-info float-right">{% trans "Registrar trabajador doméstico" %}</a>
  </div>
  {% endif %}

  {% if object.domesticworker_set.count %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{% trans "Nombre" %}</th>
          <th scope="col">{% trans "Documento" %}</th>
          <th scope="col">{% trans "Horario" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for domestic_worker in object.domesticworker_set.all %}
        <tr>
          <td>{{ domestic_worker.first_name }} {{ domestic_worker.last_name }}</td>
          <td>{{ domestic_worker.get_document_type_display }} - {{ domestic_worker.document_number }}</td>
          <td><pre>{{ domestic_worker.schedule|linebreaks }}</pre></td>

        {% if can_edit_unit %}
          <td>
            <a href="{% url 'buildings:domestic_worker_update' building.id object.id domestic_worker.id %}" class="btn btn-outline-dark">{% trans "Editar" %}</a>

            <a href="{% url 'buildings:domestic_worker_delete' building.id object.id domestic_worker.id %}" class="btn btn-outline-danger">{% trans "Eliminar" %}</a>
          </td>
        {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>{% trans 'No hay trabajadores domésticos registrados.' %}</p>
  {% endif %}
</div>

<div class="jumbotron">
  <h2>{% trans 'Mascotas' %}</h2>
  <hr>

  {% if can_edit_unit %}
  <div class="clearfix">
    <a href="{% url 'buildings:pet_form' building.id object.id %}" class="btn btn-outline-info float-right">{% trans "Registrar mascota" %}</a>
  </div>
  {% endif %}

  {% if object.pet_set.count %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{% trans "Tipo de mascota" %}</th>
          <th scope="col">{% trans "Raza" %}</th>
          <th scope="col">{% trans "Nombre" %}</th>
          <th scope="col">{% trans "Color" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for pet in object.pet_set.all %}
        <tr>
          <td>{{ pet.pet_type }}</td>
          <td>{{ pet.breed }}</td>
          <td>{{ pet.name }}</td>
          <td>{{ pet.color }}</td>

        {% if can_edit_unit %}
          <td>
            <a href="{% url 'buildings:pet_detail' building.id object.id pet.id %}" class="btn btn-outline-dark">{% trans "Ver detalle" %}</a>

            <a href="{% url 'buildings:pet_update' building.id object.id pet.id %}" class="btn btn-outline-dark">{% trans "Editar" %}</a>

            <a href="{% url 'buildings:pet_delete' building.id object.id pet.id %}" class="btn btn-outline-danger">{% trans "Eliminar" %}</a>
          </td>
        {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>{% trans 'No hay mascotas registradas aún.' %}</p>
  {% endif %}
</div>
{% endblock %}
