{% extends "layout/building_base.html" %}

{% load static widget_tweaks i18n %}

{% block title %}{{ unit }}{% endblock %}

{% block building_section %}
<div class="jumbotron">
  <!-- Common header for all templates inside the unit administration module -->
  {% include "buildings/administrative/units/unit_header.html" %}

  <form method="post" enctype="multipart/form-data">
  <h3>{% if pet_update %}{% trans "Editar mascota" %} {{ object }}{% else %}{% trans "Registrar mascota" %}{% endif %}</h3>

  {% csrf_token %}
  {% if form.non_field_errors %}
      <div class="form-group">
          {{ form.non_field_errors }}
      </div>
  {% endif %}

      <div class="form-group">
          {% render_field form.pet_type class+="form-control" %}
          <p class="font-weight-light">{{ form.pet_type.help_text }}</p>
          {{ form.pet_type.errors }}
      </div>

      <div class="form-group">
          {% render_field form.breed class+="form-control" %}
          {{ form.breed.errors }}
      </div>

      <div class="form-group">
          {% render_field form.name class+="form-control" %}
          {{ form.name.errors }}
      </div>

      <div class="form-group">
          {% render_field form.color class+="form-control" %}
          {{ form.color.errors }}
      </div>

      <div class="form-group">
          <p>Picture:</p>
          {% render_field form.picture class+="form-control" %}
          {{ form.picture.errors }}
      </div>

      <button type="submit" class="btn btn-outline-info btn-block">{% trans "Guardar" %}</button>
  </form>

  {% if object.picture %}
    <p>{% trans 'Fotografía actual:' %}</p>
    <img class="img-responsive thumbnail" src="{{ object.picture.url }}" alt="{{ picture }}" style="width: 300px; height: auto">
  {% endif %}
</div>
{% endblock %}
