{% extends "layout/base.html" %}

{% block content %}
<section class="buildingBase">
  <div class="container">
    <h1>{{ building.name }}</h1>
    <hr class="my-4">

    <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" href="{{ building.get_absolute_url }}">Administración</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contabilidad</a>
    </li>
  </ul>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link {% if active_general %}active{% endif %}" href="{{ building.get_absolute_url }}">General</a>
        <a class="nav-link {% if active_units %}active{% endif %}" href="{% url 'buildings:units_list' building.id %}">Unidades</a>
        <a class="nav-link" href="">Circulares</a>
        <a class="nav-link" href="">Encuestas</a>
        <a class="nav-link" href="">Roles</a>
      </div>
    </div>

    <div class="col-sm-12 col-md-10 col-lg-10">
      {% block building_section %}{% endblock %}
    </div>
  </div>
  
</section>
{% endblock %}
