{% extends "layout/base.html" %}

{% load i18n roles_tags %}

{% block content %}
<section class="buildingBase">
  <div class="container">
    <h1>{{ building.name }}</h1>
    <hr>

    <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" href="{{ building.get_absolute_url }}">{% trans "Administración" %}</a>
    </li>

    {% comment %}
    <li class="nav-item">
      <a class="nav-link" href="#">{% trans "Contabilidad" %}</a>
    </li>
    {% endcomment %}
  </ul>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2">
      {% if building.logo %}
      <img class="img-responsive thumbnail" src="{{ building.logo.url }}" alt="{{ building }}" style="width: 160px; height: auto">

      <br>
      <br>
      {% endif %}

      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link {% if active_general %}active{% endif %}" href="{{ building.get_absolute_url }}">{% trans "General" %}</a>
        <a class="nav-link {% if active_units %}active{% endif %}" href="{% url 'buildings:units_list' building.id %}">{% trans "Unidades" %}</a>
        <a class="nav-link" href="">{% trans "Circulares" %}</a>
        <a class="nav-link" href="">{% trans "Encuestas" %}</a>

        {% get_can_manage_roles user building as can_manage_roles %}
        {% if can_manage_roles %}
        <a class="nav-link {% if active_roles %}active{% endif %}" href="{% url 'buildings:memberships_list' building.id %}">{% trans "Roles" %}</a>
        {% endif %}
      </div>
    </div>

    <div class="col-sm-12 col-md-10 col-lg-10">
      {% block building_section %}{% endblock %}
    </div>
  </div>
  
</section>
{% endblock %}
