{% extends "buildings/building_base.html" %}

{% load static widget_tweaks i18n %}

{% block title %}{{ unit }}{% endblock %}

{% block building_section %}
<div class="jumbotron">
  <!-- Common header for all templates inside the unit administration module -->
  {% include "buildings/administrative/units/unit_header.html" %}

  <div class="alert alert-danger" role="alert">
  	{% trans "Eliminar vehículo" %} {{ object.get_vehicle_type_display }} {% if object.is_car or object.is_motorcycle %} {{ object.brand }} - {{ object.license_plate }}{% else %}{{ object.brand }} - {{ object.color }}{% endif %} {% trans 'asignado a la unidad' %} {{ unit }}. {% trans "¿está seguro que desea eliminar este vehículo?" %}
  </div>

  <form method="post">{% csrf_token %}
      <a href="{{ unit.get_absolute_url }}" class="btn btn-outline-dark">{% trans "No, regresar al detalle de la unidad" %}</a>

      <input class="btn btn-outline-danger" type="submit" value="{% trans "Si, eliminar definitivamente" %}" />
  </form>
</div>
{% endblock %}
