{% extends "layout/base.html" %}

{% load static widget_tweaks i18n %}

{% block title %}{% trans "Actualización de datos" %}{% endblock title %}

{% block content %}
<section class="owner_data_update">
  <div class="container">
    <div class="col-md-8 offset-md-2">
      <div class="jumbotron">
        <h2>Copropiedad Integral</h2>
        <hr>
        <p>{% trans 'Actualización de datos de propietarios.' %}</p>
        <hr>
        <dl class="row">
            <dt class="col-sm-3">{% trans "Copropiedad:" %}</dt>
            <dd class="col-sm-9">{{ unit_data.unit.building.name }}</dd>

            <dt class="col-sm-3">{% trans "Unidad" %}</dt>
            <dd class="col-sm-9">{{ unit_data }}</dd>
        </dl>
        <hr>

      <form method="post">
          {% csrf_token %}

          {{ owner_update_formset.management_form }}
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">{% trans "Propietario" %}</th>
                  <th scope="col">{% trans "Información de contacto" %}</th>
                </tr>
              </thead>

              <tbody>
              {% for owner_form_update in owner_update_formset %}
                {% render_field owner_form_update.id %}
                <tr>
                  <td>
                    <strong>{{ owner_form_update.instance.name }} {{ owner_form_update.instance.last_name }}</strong>
                  </td>

                  <td>
                    <div class="form-group">
                      {% render_field owner_form_update.mobile_phone.label %}
                      {% render_field owner_form_update.mobile_phone class+="form-control" %}
                    </div>

                    <div class="form-group">
                      {% render_field owner_form_update.phone_number.label %}
                      {% render_field owner_form_update.phone_number class+="form-control" %}
                    </div>

                    <div class="form-group">
                      {% render_field owner_form_update.correspondence_address.label %}
                      {% render_field owner_form_update.correspondence_address class+="form-control" %}
                    </div>

                    <div class="form-group">
                      {% render_field owner_form_update.email.label %}
                      {% render_field owner_form_update.email class+="form-control" %}
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

          <p>{% trans 'Este link dejará de estar disponible cuando haya diligenciado este formulario.' %}</p>

          <button type="submit" class="btn btn-outline-info btn-block">{% trans "Guardar" %}</button>
      </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
