{% extends "layout/base.html" %}

{% load static widget_tweaks i18n formset_tags %}

{% block title %}{% trans "Actualización de datos" %}{% endblock title %}

{% block content %}
<section class="owner_data_update">
  <div class="container">
    <div class="col-md-8 offset-md-2">
      <div class="jumbotron">
        <h2>Copropiedad Integral</h2>
        <hr>
        <dl class="row">
            <dt class="col-sm-3">{% trans "Copropiedad:" %}</dt>
            <dd class="col-sm-9">{{ unit_data.building.name }}</dd>

            <dt class="col-sm-3">{% trans "Unidad" %}</dt>
            <dd class="col-sm-9">{{ unit_data }}</dd>
        </dl>

        <hr>
        <strong>{% trans 'Actualización de datos de residentes.' %}</strong>
        <hr>

        {% if unit_data.residents_update %}
        <form method="post" action="{% url 'buildings:residents_update_post' unit_data.unit.id verify_key %}">
          {% csrf_token %}

          <div id="id_residents_formset" data-formset-prefix="{{ residents_update_formset.prefix }}" class="ci_UnitFormFormset">

            {{ residents_update_formset.management_form }}
            <div data-formset-body>
            {% for resident_form_update in residents_update_formset %}
              {% render_field resident_form_update.id %}

              <div data-formset-form>
                <div class="form-group">
                  {% render_field resident_form_update.first_name.label %}
                  {% render_field resident_form_update.first_name class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field resident_form_update.last_name.label %}
                  {% render_field resident_form_update.last_name class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field resident_form_update.birthdate.label %}
                  {% render_field resident_form_update.birthdate class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field resident_form_update.document_type.label %}
                  {% render_field resident_form_update.document_type class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field resident_form_update.document_number.label %}
                  {% render_field resident_form_update.document_number class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field resident_form_update.mobile_phone.label %}
                  {% render_field resident_form_update.mobile_phone class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field resident_form_update.DELETE.label %}
                  {% render_field resident_form_update.DELETE  %}
                </div>
                <hr>
              </div>
            {% endfor %}
            </div>

            <script type="form-template" data-formset-empty-form>
            {% escapescript %}
              <div data-formset-form>
                <hr>
                <div class="form-group">
                  {% render_field residents_update_formset.empty_form.first_name.label %}
                  {% render_field residents_update_formset.empty_form.first_name class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field residents_update_formset.empty_form.last_name.label %}
                  {% render_field residents_update_formset.empty_form.last_name class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field residents_update_formset.empty_form.birthdate.label %}
                  {% render_field residents_update_formset.empty_form.birthdate class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field residents_update_formset.empty_form.document_type.label %}
                  {% render_field residents_update_formset.empty_form.document_type class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field residents_update_formset.empty_form.document_number.label %}
                  {% render_field residents_update_formset.empty_form.document_number class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field residents_update_formset.empty_form.mobile_phone.label %}
                  {% render_field residents_update_formset.empty_form.mobile_phone class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field residents_update_formset.empty_form.DELETE.label %}
                  {% render_field residents_update_formset.empty_form.DELETE  %}
                </div>
                <hr>
              </div>
            {% endescapescript %}
            </script>

            <button class="btn btn-outline-success float-right" type="button" data-formset-add>{% trans "Agregar residente" %}</button>
          </div>

          <button type="submit" class="btn btn-outline-info btn-block">{% trans "Guardar" %}</button>
        </form>
        {% else %}
        <p>{% trans "La información sobre los residentes ya ha sido confirmada." %}</p>
        {% endif %}

        <hr>
        <strong>{% trans 'Actualización de datos de visitantes autorizados.' %}</strong>
        <hr>

        {% if unit_data.visitors_update %}
        <form method="post" action="{% url 'buildings:visitors_update_post' unit_data.unit.id verify_key %}">
          {% csrf_token %}

          <div id="id_visitors_formset" data-formset-prefix="{{ visitors_update_formset.prefix }}" class="ci_UnitFormFormset">
            {{ visitors_update_formset.management_form }}
            <div data-formset-body>
            {% for visitor_form_update in visitors_update_formset %}
              {% render_field visitor_form_update.id %}

              <div data-formset-form>
                <div class="form-group">
                  {% render_field visitor_form_update.first_name.label %}
                  {% render_field visitor_form_update.first_name class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field visitor_form_update.last_name.label %}
                  {% render_field visitor_form_update.last_name class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field visitor_form_update.document_type.label %}
                  {% render_field visitor_form_update.document_type class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field visitor_form_update.document_number.label %}
                  {% render_field visitor_form_update.document_number class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field visitor_form_update.relationship.label %}
                  {% render_field visitor_form_update.relationship class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field visitor_form_update.DELETE.label %}
                  {% render_field visitor_form_update.DELETE  %}
                </div>
                <hr>
              </div>
            {% endfor %}
            </div>

            <script type="form-template" data-formset-empty-form>
            {% escapescript %}
              <div data-formset-form>
                <hr>
                <div class="form-group">
                  {% render_field visitors_update_formset.empty_form.first_name.label %}
                  {% render_field visitors_update_formset.empty_form.first_name class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field visitors_update_formset.empty_form.last_name.label %}
                  {% render_field visitors_update_formset.empty_form.last_name class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field visitors_update_formset.empty_form.document_type.label %}
                  {% render_field visitors_update_formset.empty_form.document_type class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field visitors_update_formset.empty_form.document_number.label %}
                  {% render_field visitors_update_formset.empty_form.document_number class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field visitors_update_formset.empty_form.relationship.label %}
                  {% render_field visitors_update_formset.empty_form.relationship class+="form-control" %}
                </div>

                <div class="form-group">
                  {% render_field visitors_update_formset.empty_form.DELETE.label %}
                  {% render_field visitors_update_formset.empty_form.DELETE  %}
                </div>
                <hr>
              </div>
            {% endescapescript %}
            </script>

            <button class="btn btn-outline-success float-right" type="button" data-formset-add>{% trans "Agregar visitante autorizado" %}</button>
          </div>

          <button type="submit" class="btn btn-outline-info btn-block">{% trans "Guardar" %}</button>
        </form>
        {% else %}
        <p>{% trans "La información sobre los visitantes autorizados ya ha sido confirmada." %}</p>
        {% endif %}

      <p>{% trans 'Este link dejará de estar disponible cuando haya diligenciado este formulario o 30 días después de recibir el correo de solicitud de actualización de datos.' %}</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block js %}
<script src="{% static 'libs/formset/jquery.formset.js' %}"></script>

<script>
$(function() {
    $('#id_residents_formset').formset({
        animateForms: true
    });

    $('#id_visitors_formset').formset({
        animateForms: true
    });
});
</script>
{% endblock %}
