{% extends "layout/base.html" %}
{% load widget_tweaks %}

{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
<section class="passwordReset">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-lg-5">
      </div>

      <div class="col-sm-7 col-lg-7">
        <div class="jumbotron">
          <h2 class="display-4">Recuperar contraseña</h2>

          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac egestas lectus, nec malesuada metus.</p>
          <hr class="my-4">

            <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="form-group">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
                <div class="form-group formGroup_lessMarginBottom">
                    <p>{{ form.email.label_tag }}</p>
                    {% render_field form.email class+="form-control" %}
                    {{ form.email.errors }}
                </div>

                <button type="submit" class="btn btn-outline-info btn-block">Recuperar contraseña</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
