{% extends "layout/base.html" %}

{% load i18n %}

{% block title %}{% trans "Recuperación de contraseña" %}{% endblock %}

{% block content %}
<section class="passwordResetDone">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-lg-5">
      </div>

      <div class="col-sm-7 col-lg-7">
        <div class="jumbotron">
          <h2 class="display-4">{% trans "Recuperar contraseña" %}</h2>

          <p class="lead">{% trans "Hemos enviado un correo electrónico con instrucciones para recuperar su contraseña." %}</p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
