{% extends "buildings/building_base.html" %}

{% block title %}{{ object }}{% endblock %}

{% block building_section %}
<div class="jumbotron">

{% if can_edit_building %}
<div class="clearfix">
  <a href="{% url 'buildings:building_update' object.id %}" class="btn btn-outline-info float-right">Editar información básica</a>
</div>
{% endif %}

<dl class="row">
  <dt class="col-sm-3">Nombre</dt>
  <dd class="col-sm-9">{{ object.name }}</dd>

  <dt class="col-sm-3">Tipo de documento</dt>
  <dd class="col-sm-9">{{ object.get_document_type_display }}</dd>

  <dt class="col-sm-3">documento/Nit</dt>
  <dd class="col-sm-9">{{ object.document_number }}</dd>

  <dt class="col-sm-3">documento/Nit</dt>
  <dd class="col-sm-9">{{ object.document_number }}</dd>

  <dt class="col-sm-3">Ciudad</dt>
  <dd class="col-sm-9">{{ object.city }}</dd>
  
  <dt class="col-sm-3">Dirección</dt>
  <dd class="col-sm-9">{{ object.address|default:"N/D" }}</dd>

  <dt class="col-sm-3">Correo electrónico</dt>
  <dd class="col-sm-9">{{ object.email|default:"N/D" }}</dd>

  <dt class="col-sm-3">Número celular</dt>
  <dd class="col-sm-9">{{ object.mobile_phone|default:"N/D" }}</dd>

  <dt class="col-sm-3">Número telefónico</dt>
  <dd class="col-sm-9">{{ object.phone_number|default:"N/D" }}</dd>
</dl>
</div>
{% endblock %}