{% extends "layout/base.html" %}

{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<section class="dashboard">
  <div class="container">

    <br>

    <div class="jumbotron">
        <h1>Mis copropiedades</h1>
        <hr class="my-4">

        <a href="{% url 'buildings:building_create' %}" class="btn btn-outline-info float-right">Crear nueva copropiedad</a>

        <div class="row">
          <div class="col-md-6 offset-md-3">
          </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}
