{% extends "layout/base.html" %}

{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<section class="dashboard">
  <div class="container">

    <br>

    <div class="jumbotron">
        <h1>Mis copropiedades</h1>
        <hr>

        <a href="{% url 'buildings:building_create' %}" class="btn btn-outline-info float-right">Crear nueva copropiedad</a>

        <br>
        <br>

      {% if memberships %}
      <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Mis roles</th>
            <th scope="col">Nombre</th>
            <th scope="col">Identificación</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for membership in memberships %}
          <tr>
            <td>
              {% if membership.is_administrator %}
              <p>Administrador</p>
              {% endif %}

              {% if membership.is_administrative_assistant %}
              <p>Asistente administrativo</p>
              {% endif %}

              {% if membership.is_accountant %}
              <p>Contador</p>
              {% endif %}

              {% if membership.is_accounting_assistant %}
              <p>Asistente Contable</p>
              {% endif %}

              {% if membership.is_fiscal_reviewer %}
              <p>Revisor fiscal</p>
              {% endif %}
            </td>

            <td>{{ membership.building.name }}</td>
            <td>{{ membership.building.get_document_type_display }} - {{ membership.building.document_number }}</td>
            <td>
              <a href="{{ membership.building.get_absolute_url }}" class="btn btn-outline-dark">Ver copropiedad</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      {% else %}
      <p>No hay copropiedades activas aún.</p>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
