{% extends "layout/base.html" %}

{% load static widget_tweaks %}

{% block title %}Inicio{% endblock title %}

{% block css %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-lg-5">
      </div>

      <div class="col-sm-7 col-lg-7">
        <div class="jumbotron">
          <h1 class="display-4">Copropiedad Integral</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac egestas lectus, nec malesuada metus.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

          <a href="{% url 'auth_login' %}" class="btn btn-info">Iniciar sesión</a>
          <a href="{% url 'signup' %}" class="btn btn-dark">Crear cuenta</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
